gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
# Firebase Config Files (DO NOT UPLOAD THESE)
google-services.json
GoogleService-Info.plist
firebase_options.dart
lib/firebase_options.dart